# =========================
# Telegram API
# =========================
TG_API_ID=
TG_API_HASH=
TG_PHONE=
TG_SESSION=/data/accounts/default
TG_SESSION_DIR=/data/accounts

# =========================
# Proxy
# =========================
ENABLE_PROXY=false
PROXY_HOST=proxy
PROXY_PORT=1080
PROXY_TYPE=socks5

# =========================
# PostgreSQL
# =========================
POSTGRES_PASSWORD=tgdrive
DATABASE_URL=postgresql://tgdrive:tgdrive@postgres:5432/tgdrive

# =========================
# Server
# =========================
PORT=8000
