# Telegram API
TG_API_ID=
TG_API_HASH=
TG_PHONE=
TG_SESSION_DIR=/data/accounts
TG_SESSION=/data/accounts/default
TG_CONNECT_TIMEOUT=60

# Proxy plugin
ENABLE_PROXY=false
PROXY_PLUGIN=socks5
PROXY_HOST=proxy
PROXY_PORT=1080
PROXY_TYPE=socks5

# Database
DATABASE_PATH=/data/files.db

# Server
PORT=8000
