__pycache__/
*.pyc
*.pyo
*.pyd

.env

*.log

.DS_Store

.vscode/

.idea/

download/
tmp/

# runtime data
data/accounts/
data/postgres/
data/proxy/
*.session
*.session-journal
*.db
data/cache
# backup files
*.bak
*.bak.*
